/*Buttons*/
#login_btn{
    background-color: #45C26E; /* Green */
    border: none;
    color:#FDFFFC;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius:30px;
    font-weight: bold;
}

#login_btns{
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	width:190px;
	margin-top:10px;
	font-family: sans-serif;
	transition: all 0.3s ease 0s;
}

/*Headers*/
h1 {
  color: #FDFFFC;
  text-align: center;
  font-family: 'Ranga', cursive;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 10px;  
}

h2{
  color: #FDFFFC;
  font-family: 'Ranga', cursive;
}

/*body*/
body{
	margin:0;
	background: #292F36; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #4568DC , #B06AB3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #4568DC, #B06AB3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #4568DC, #B06AB3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #4568DC, #B06AB3); /* Standard syntax */
}

/*Images*/
/*
.img{
    width: 400px;
	height: 400px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	background: url(../images/test.jpeg) no-repeat;
	margin-left: auto;
	margin-right: auto;
}*/

.img{
  display: inline-block;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}

#img_container{
  width:400px;
  margin-right: auto;
  margin-left: auto;
  /*display:none;*/
}

#login_container{
  width:400px;
  margin-right: auto;
  margin-left: auto;
}

#profile_pic{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background: url(../images/profile_img.png) no-repeat;
	float:right;
	margin:10px;
}

#spotify_logo{
	margin-right:10px;
}

#spotify_logo img{
	width:50px;
	height:50px;
	float:right;
	margin:10px;
}

/*Header*/
#header{
	width:100%;
	overflow: hidden;
	background-color:none;
	margin-bottom: 0px;
}

#title{
	text-align: left;
}

/*Song bar*/
#song_bar{
	width:100%;
	overflow: hidden;
	background-color: #292F36;
	margin-top: 40px;
}

#song_bar p{
	/*position: relative;
  	top: 50%;
  	display: inline-block;*/
  	color:#FDFFFC;
  	font-size: 28px;
  	margin:0px;
  	display: inline-block;
  	margin-top: 10px;
    margin-left: 20px;
    line-height: 1.9;
}

#spotify_container{
	/*margin: 10px;*/
  	font-family: 'Ranga', cursive;	
}