/*Buttons*/
#upload_btn{
    background-color: #292F36; /* Green */
    border: none;
    color:#FDFFFC;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius:30px;
    font-weight: bold;
}

#hashtag_btn{
    background-color: #292F36; /* Green */
    border: none;
    color:#FDFFFC;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /*float:right;*/
    border-radius:30px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #FDFFFC; 
    margin-bottom:40px;
    font-family: 'Roboto', sans-serif;
}

#like_btn{
    background-color: #292F36; /* Green */
    border: none;
    color:#FDFFFC;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /*float:right;*/
    border-radius:30px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #FDFFFC; 
    margin-left: 20px;
}

#like_btn i{
	padding:0;
}

.fa.fa-arrow-left{
	color:#FDFFFC;
	font-size: 19px;
}

#img_btns{
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	width:162px;
	margin-top:40px;
	font-family: sans-serif;
  text-align: center;
}

#instagram_choice, #upload_choice{
    background-color: #292F36; /* Green */
    border: none;
    color:#FDFFFC;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120px;
    line-height: 1.7;
    /*float:right;*/
    border-radius:100px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #FDFFFC; 
    margin-left: 20px;	
    width:200px;
    height:200px; 
    margin-top:40px;  
}

#instagram_choice{
	float:right;
}

#upload_choice{
	float:left;
}

#instagram_choice i{
	padding-left: 0px;
}

/*Icons*/
i{
	padding-left: 6px;
}

#img_choice_container{
  margin-top:120px;
	width:600px;
	margin-right: auto;
	margin-left:auto;
}

/*Headers*/
h1 {
  color: #FDFFFC;
  text-align: center;
  font-family: 'Ranga', cursive;
  font-size: 40px;
  margin-bottom: 10px;  
  margin-top: 0px;
}

h2{
  color: #FDFFFC;
  font-family: 'Ranga', cursive;
}

#header i{
	margin:10px;
  line-height: 2.6;
  font-size: 20px;
}

#welcome{
  margin:10px;
  line-height: 2.6;
  color: #FDFFFC;
  font-family: 'Roboto', sans-serif;
}

/*body*/
body{
	margin:0;
	background: #3C4148; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4568DC , #B06AB3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4568DC, #B06AB3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4568DC, #B06AB3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4568DC, #B06AB3); /* Standard syntax */
}

html, body {height: 100%;}

/*Images*/
/*
.img{
    width: 400px;
	height: 400px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	background: url(../images/test.jpeg) no-repeat;
	margin-left: auto;
	margin-right: auto;
}*/

.img{
	display: inline-block;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
	margin-right: auto;
}

#img_container{
  width:400px;
  margin-right: auto;
  margin-left: auto;
}

/*
.img img{
	width:400px;
}*/

#profile_pic{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background: url(../images/profile_img.png) no-repeat;
	float:right;
	margin:10px;
}

#spotify_logo{
	margin-right:10px;
}

#spotify_logo img{
	width:50px;
	height:50px;
	float:right;
	margin:10px;
}

/*Header*/
#header{
	width:100%;
	overflow: hidden;
	background-color:none;
	margin-bottom: 0px;
	/*border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color:#45C26E;*/
}

#title{
	text-align: left;
}

/*Song bar*/
#song_bar{
	width:100%;
	overflow: hidden;
	background-color: #292F36;
	margin-top: 40px;
  border-top-style: solid;
  border-top-width: 5px;
  border-color:#45C26E;
  position: fixed;
  bottom: 0;
  width: 100%;  
}

#song_bar p{
	/*position: relative;
  	top: 50%;
  	display: inline-block;*/
  	color:#FDFFFC;
  	font-size: 28px;
  	margin:0px;
  	display: inline-block;
  	margin-top: 10px;
    margin-left: 20px;
    line-height: 1.9;
}

#spotify_container{
	/*margin: 10px;*/
  	font-family: 'Ranga', cursive;	
}

/*Choice*/
#choice_desc{
	width:600px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #FDFFFC;
	overflow: hidden;
	text-align: center;
}

#choice_desc p{
	margin-top:60px;
}